<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	<property name="LOG_HOME" value="./logs" />
	<property name="maxHistory" value="30" />

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] [%logger->%M\(%L\)] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/rpm-tools.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/rpm-tools.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>${maxHistory}</MaxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] [%logger->%M\(%L\)] %msg%n</pattern>
		</encoder>
	</appender>


	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>